* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
}
#header {
    padding: 0;
    margin: 0;
    background-color: #008080;
}
#logo {
    padding: 0.5em;
    position: absolute;
    width: 200px;
}
#shoppingCart{
    position: absolute;
    right: 5em;
    top: 4em;
    width: 100px; 
} 
#header form {
    position: absolute;
    right: 15em;
    top: 8em;
}
#header h1 {
    padding: 0;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    margin: 0;
    color: #FFFFFF;
    text-align: center;
}
#header div {
    padding: 0;
    padding-top: 1em;
    margin: 0;
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 3em;
}
#header div h2 {
    font-size: 1em;
    color: white;
    padding: 0;
    margin: 0;
}
#header div a {
    padding: 0;
    margin: 0;
}
#header div:hover {
    background-color: #DEB887;
}
#footer {
    display: inline-block;
    width: 100%;
    background-color: #008080;
    padding: 1em;
}
#footer p {
    color: white;
    
}
#footer a {
    color: white;
}
#footer a:hover {
    color: blue;
}
.featuredProduct {
    float: left;
    width: 33%;
    padding: 0.5em;
}
/*.contentBlock:after {
    content: "";
    clear: both;
    display: block;
}*/
.categoryBlock {
    width: 25%;
    float: left;
    padding: 0.5em;
}
#formdata{
    padding: 10px 10px;
}
#formdata label {
    margin: 5px;
    padding-top: 20px;
}
.contentBlock {
    padding: 0.5em;
}
table {
    width: 100%;
}
thead {
    display: inline-block;
    width: 100%;
}
tbody {
    height: 300px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
